@import "styles/mixin/layout.mixin.scss";
@import "styles/theme/colors.theme.scss";
@import "styles/theme/typography.theme.scss";

.wrapper {
  margin-top: 28px;

  .contentArticle {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .label {
      @include title_section;
    }

    .contentCards {
      display: flex;
      flex-wrap: wrap;
      gap: 14px 17px;
    }
  }

  @include media-md-desktop {
    .contentArticle {
      .contentCards {
        gap: 16px 15.83px;
      }
    }
  }
}
